Repository Armor-test/event-manager-700, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/dept-ui, @Armor-test/dept-notifications, @Armor-test/squad-research, @Armor-test/squad-performance, @Armor-test/dept-identity, @Armor-test/squad-cloud, @Armor-test/unit-test, @Armor-test/unit-devops, @Armor-test/dept-reporting, @Armor-test/dept-automation, @Armor-test/unit-design, @Armor-test/squad-qa, @Armor-test/dept-security, @Armor-test/squad-frontend, @Armor-test/dept-release, @Armor-test/dept-data, @Armor-test/squad-cache, @Armor-test/dept-reliability, @Armor-test/squad-ml, @Armor-test/team-notifications, @Armor-test/squad-product, @Armor-test/team-research, @Armor-test/unit-cloud, @Armor-test/grp-integration, @Armor-test/unit-governance, @Armor-test/dept-logging, @Armor-test/grp-ui, @Armor-test/squad-database, @Armor-test/team-reporting, @Armor-test/squad-apps, @Armor-test/team-governance, @Armor-test/squad-mobile, @Armor-test/team-logging, @Armor-test/team-security, @Armor-test/squad-tooling, @Armor-test/squad-payments, @Armor-test/grp-storage, @Armor-test/team-frontend, @Armor-test/devops, @Armor-test/infra, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/ci-team

.github/CODEOWNERS:

# CODEOWNERS file for event-manager-700
# Global owners - will be requested for all PRs
* @Armor-test/dept-ui @Armor-test/dept-notifications @Armor-test/squad-research

# Directory ownership
/public/ @Armor-test/squad-performance @Armor-test/dept-identity
/web/ @Armor-test/squad-cloud @Armor-test/unit-test
/test/ @Armor-test/unit-devops @Armor-test/squad-performance
/third_party/ @Armor-test/dept-reporting @Armor-test/dept-notifications
/spec/ @Armor-test/dept-automation @Armor-test/squad-cloud
/core/ @Armor-test/unit-design @Armor-test/squad-qa @Armor-test/dept-security
/pages/ @Armor-test/squad-frontend @Armor-test/dept-identity @Armor-test/dept-automation
/pkg/ @Armor-test/squad-research @Armor-test/dept-release @Armor-test/dept-automation
/utils/ @Armor-test/dept-data @Armor-test/squad-performance
/components/ @Armor-test/squad-frontend @Armor-test/squad-cache
/db/ @Armor-test/dept-reliability @Armor-test/squad-ml @Armor-test/team-notifications
/docs/ @Armor-test/squad-product @Armor-test/team-research @Armor-test/dept-notifications
/migrations/ @Armor-test/unit-cloud @Armor-test/dept-security
/helpers/ @Armor-test/grp-integration @Armor-test/unit-governance

# File type ownership
*.properties @Armor-test/dept-logging @Armor-test/grp-ui @Armor-test/dept-ui
*.graphql @Armor-test/squad-database @Armor-test/dept-reporting
*.tsx @Armor-test/team-reporting @Armor-test/dept-data @Armor-test/squad-apps
*.css @Armor-test/squad-qa @Armor-test/dept-identity
*.c @Armor-test/unit-devops @Armor-test/team-governance @Armor-test/squad-mobile
*.ts @Armor-test/unit-governance @Armor-test/team-logging @Armor-test/grp-ui
*.kt @Armor-test/dept-identity @Armor-test/team-security @Armor-test/squad-tooling
*.go @Armor-test/squad-payments @Armor-test/dept-reporting
*.sh @Armor-test/squad-database @Armor-test/grp-storage
*.php @Armor-test/unit-design @Armor-test/unit-cloud
*.config @Armor-test/unit-cloud @Armor-test/dept-ui @Armor-test/unit-test
*.toml @Armor-test/team-frontend @Armor-test/team-logging @Armor-test/team-research
*.rs @Armor-test/squad-payments @Armor-test/squad-cloud @Armor-test/squad-tooling
*.py @Armor-test/grp-integration @Armor-test/dept-notifications
*.js @Armor-test/dept-ui @Armor-test/squad-product @Armor-test/dept-reporting

# Security and special files
Dockerfile @Armor-test/devops @Armor-test/infra
package.json @Armor-test/dependency-team @Armor-test/security
Jenkinsfile @Armor-test/ci-team @Armor-test/devops

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/dept-ui, @Armor-test/dept-notifications, @Armor-test/squad-research

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/squad-product, @Armor-test/team-research, @Armor-test/dept-notifications

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/unit-devops, @Armor-test/squad-performance

Add src/main.py
  src/main.py
Owners: @Armor-test/grp-integration, @Armor-test/dept-notifications

Add src/index.js
  src/index.js
Owners: @Armor-test/dept-ui, @Armor-test/squad-product, @Armor-test/dept-reporting
